<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login/stylesheet.css">
    <link rel="shortcut icon" href="../../static/img/kronos_favicon.ico" type="image/x-icon">
    <title>Kronos</title>
</head>

<body>
    <div class="container">
        <div class="painel-esq">
            <div class="logo-box">
                <img src="../static/img/logo-sf.png" alt="Kronos Logo" draggable="false">
                <p class="slogan">Gestão inteligente do tempo.</p>
            </div>
        </div>
        <div class="painel-dir">
            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</body>

</html>