{% extends 'base-ponto.html' %}
{% block conteudo %}
<div class="ponto-container">
    <div class="nav-home">
        <a href="/login"><button class="login-btn">Login</button></a>
        <a href="/relatorio_colaborador"><button class="login-btn">Relatório</button></a>
    </div>

    <div class="clock" id="clock">
        <span class="hours">00</span><span class="separadorg">:</span></span><span class="minutes">00</span><span
            class="separador">:</span><span class="seconds">00</span>
    </div>

    <div class="alertas">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for categoria, mensagem in messages %}
        <p class="alert alert-{{ categoria }}">
            {{ mensagem }}
        </p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    <div class="box-ponto">
        <form class="form-ponto" method="POST" action="/">
            <div class="campos-lado-a-lado">
                <input type="text" name="matricula" class="input-matricula" placeholder="Matrícula" required>
                <input type="password" name="senha" placeholder="Senha" required>
            </div>

            <div class="acoes-lado-a-lado">
                <a href="/recuperar_senha" class="link-login">Recuperar Senha</a>
                <button type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        
        document.querySelector('.hours').textContent = hours;
        document.querySelector('.minutes').textContent = minutes;
        document.querySelector('.seconds').textContent = seconds;
    }
    setInterval(updateClock, 1000);
    updateClock();


    // Esconde as mensagens flash após 5 segundos
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const alerts = document.querySelectorAll(".alert");
            alerts.forEach(alert => {
                alert.style.opacity = '0';
                alert.style.transform = 'translateY(-10px)';
                setTimeout(() => alert.remove(), 500);
            });
        }, 5000);
    });
</script>
{% endblock %}