body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-image: url('../../img/bg-ponto.png');
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ponto-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}

.nav-home {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin-bottom: 1rem;
}

.login-btn {
    padding: 8px 16px;
    background-color: #1e81b0;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: self-end;
    font-size: 6rem;
    font-weight: bold;
    margin: 4rem auto;
    flex-wrap: wrap;
}

.seconds {
    font-size: 2.5rem;
    margin-bottom: 13px;
}

.separadorg{
    margin: 0 5px;
}
.separador {
    margin: 0 5px;
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.alertas {
    position: absolute;
    top: 80px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 1000;
    pointer-events: none; /* Permite que cliques passem por cima */
}

.alert {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1e81b0;
    color: white;
    font-size: 0.9rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    animation: fadeSlideDown 0.5s ease forwards;
    pointer-events: auto; /* Permite interações com o alerta */
}

.box-ponto {
    width: 90%;
    max-width: 400px;
}

.form-ponto {
    background-color: rgba(12, 45, 72, 0.8);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000050;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

/* Campos lado a lado */
.campos-lado-a-lado {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.campos-lado-a-lado input { 
    flex: 1 1 45%;
    min-width: 10%;
    padding: 10px 0 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #e6f1f9;
    color: #000;
}

/* Ações lado a lado */
.acoes-lado-a-lado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.filtro-lado-a-lado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.link-login {
    color: #4da3ff;
    font-size: 0.9rem;
    text-decoration: none;
}

.form-ponto button {
    background-color: #1e81b0;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    flex: 1 1 100%;
    max-width: 100%;
}

.form-ponto button:hover {
    background-color: #156ea6;
}

/* Estilo para telas menores */
@media (max-width: 600px) {
    .ponto-container {
    padding: 2rem 0;
    }

    .campos-lado-a-lado,
    .acoes-lado-a-lado {
        flex-direction: column;
        align-items: stretch;
    }

    .campos-lado-a-lado input {
        flex: 1 1 100%;
        min-width: 100%;
    }

    .clock {
        display: flex;
        justify-content: center;
        align-items: self-end;
        font-size: 6rem;
        font-weight: bold;
        margin: 4rem auto;
        flex-wrap: wrap;
    }

    .seconds {
        font-size: 2.5rem;
        margin-bottom: 13px;
    }

    .separadorg{
        margin: 0 5px;
    }
    .separador {
        margin: 0 5px;
        margin-bottom: 15px;
        font-size: 2.5rem;
    }
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}