<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/adm/stylesheet.css">
    <link rel="shortcut icon" href="../static/img/kronos_favicon.ico" type="image/x-icon">
    <title>Kronos-Administração</title>
</head>

<body>
    <div class="main-container">
        <div class="admin-container">

            <div class="top-bar">
                <!-- Mensagem centralizada -->
                {% if current_user.is_authenticated %}
                    <div class="welcome-wrapper">
                        <div class="welcome-message">
                            Seja Bem Vindo(a) <strong>{{ current_user.Nome }}</strong>
                        </div>
                    </div>
                {% endif %}

                <!-- Botão à direita -->
                <a href="{{ url_for('login.logout') }}"><button class="logout-btn" onclick="return confirm('Tem certeza que deseja sair?')">Logout</button></a>
            </div>

            <nav class="admin-nav">
                <a href="{{ url_for('adm.consultar') }}" class="botao-base"><button>Consultar</button></a>
                <a href="{{ url_for('adm.cadastrar') }}" class="botao-base"><button>Cadastrar Colaborador</button></a>
                <a href="{{ url_for('adm.relatorio') }}" class="botao-base"><button>Relatório</button></a>
            </nav>

            <section id="content-area" class="content-area">
                {% block conteudo %}
                {% endblock %}
            </section>
        </div>
    </div>
    <footer>

    </footer>
</body>
<script>
    let ultimoAcesso = Date.now();

    // Atualiza a última interação com eventos do usuário
    ['mousemove', 'keydown', 'click', 'scroll'].forEach(event => {
        document.addEventListener(event, () => {
            ultimoAcesso = Date.now();
        });
    });

    setInterval(() => {
        const agora = Date.now();
        const diferencaMinutos = (agora - ultimoAcesso) / 1000 / 60;

        if (diferencaMinutos >= 10) {
            window.location.href = "{{ url_for('login.logout') }}";
        }
    }, 60000);
</script>
</html>