
{% extends "base-adm.html" %}
{% block conteudo %}

<!-- Mensagens flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alertas">
      {% for categoria, mensagem in messages %}
        <div class="alert alert-{{ categoria }}">{{ mensagem }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>Cadastrar Colaborador</h2>
<form class="form-colaborador" method="post" action="{{ url_for('adm.salvar_cadastro') }}">
    <div class="Cadastro_separador">
        <div class="form-group">
            <label>Matrícula</label>
            <input type="text" name="matricula" value="{{ proxima_matricula }}" readonly>
        </div>
        <div class="form-group">
            <label>Nome Completo</label>
            <input type="text" name="nome" placeholder="Nome Completo">
        </div>
        <label>Administrador?</label>
        <select name="administrador">
            <option value="">Selecione</option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-actions">
            <button type="submit">Cadastrar</button>
        </div>        
    </div>
</form>
{% endblock %}