{% extends "base-adm.html" %}
{% block conteudo %}

<h2>Editar Colaborador</h2>

<form method="post" action="{{ url_for('adm.editar', matricula=colaborador.Matricula) }}">
    <input type="hidden" name="matricula" value="{{ colaborador.Matricula }}">

    <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" name="nome" value="{{ colaborador.Nome }}" required>
    </div>

    <div class="form-group short">
        <label>Administrador?</label>
        <select name="administrador">
            <option value="1" {% if colaborador.Administrador %}selected{% endif %}>Sim</option>
            <option value="0" {% if not colaborador.Administrador %}selected{% endif %}>Não</option>
        </select>
    </div>

    <div class="form-group">
        <label>E-mail</label>
        <input type="email" name="email" value="{{colaborador.Email}}">
    </div>

    <div class="form-group short">
        <label>Ativo?</label>
        <select name="ativo">
            <option value="1" {% if colaborador.Ativo %}selected{% endif %}>Sim</option>
            <option value="0" {% if not colaborador.Ativo %}selected{% endif %}>Não</option>
        </select>
    </div>

    <div class="form-actions">
        <a href="{{ url_for('adm.consultar') }}" class="botao-base"><button type="button">Voltar</button></a>
        <button type="submit">Salvar Alterações</button>
    </div>
</form>

<!-- Mensagens flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alertas">
      {% for categoria, mensagem in messages %}
        <div class="alert alert-{{ categoria }}">{{ mensagem }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}