{% extends "base-login.html" %}

{% block conteudo %}

<form class="login-form" method="post" action="/login">
    <h2>Recuperar Senha</h2>
    <input type="text" name="email" placeholder="Digite seu e-mail" required autofocus>
    <div class="button-container">
        <button type="submit">Confirmar</button>
    </div>
</form>

<script>
    function exibirAlerta() {
        alert("A senha foi enviada para o e-mail cadastrado!");
        return true; // Permite que o formulário seja enviado
    }
    </script>

{% endblock %}