<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheetAdm.css">
    <link rel="shortcut icon" href="../static/img/kronos_favicon.ico" type="image/x-icon">
    <title>Kronos-Administração</title>
</head>
<body>
    <div class="main-container">
        {% block conteudo %}
        {% endblock %}
    </div>
    <footer>
        
    </footer>
</body>
</html>